<div class="main-panel">
  <app-header [color]="'#c6cff7'"></app-header>
  <div class="body">
    <p class="title">Regalo</p>
    <p class="description"> Sin ti esto no sería igual. <br>
      Gracias de corazón por asistir a nuestra fiesta.
    </p>
    <p>Si quieres tener un detalle con nosotros:</p>
    <div class="cuenta">
      <span>ES29 0073 0100 55 0543212789</span>
      <button mat-icon-button aria-label="copy" [cdkCopyToClipboard]="cuenta">
        <mat-icon>content_copy</mat-icon>
      </button>
      <p class="description"> Jorge Blanco & Diana Alonso<br>
      </p>
    </div>
  </div>
</div>
