<div class="main-panel">
  <app-header [color]="'#aae8e4'"></app-header>
  <div class="body">
    <p class="title">¡Queremos invitarte a nuestra boda!</p>
    <p class="description">La ceremonia civil y comida tendrá lugar el próximo <strong>1 de Junio de 2024</strong>, a la 13:30,
      en el espacio grastronómico Villalucía, en Laguardia.
    </p>
    <p class="description">
      Para poder organizar <strong>EL FIESTÓN</strong> que te mereces, necesitamos
      que nos confirmes si vendrás o no:
    </p>
    <a routerLink="/asistencia" class="invitation-button">Confirmación</a>
    <p class="description">Si quieres saber más detalles del gran fin se semana que estamos organizando:
    </p>
    <a routerLink="/horarios" class="invitation-button">Cuándo y dónde</a>
    <p class="description">Si te preguntas por qué nos casamos:
    </p>
    <a routerLink="/nosotros" class="invitation-button">Nosotros</a>
    <span style="height: 5%;"></span>
  </div>
</div>
