<div class="main-panel">
  <app-header [color]="'#aae8e4'"></app-header>
  <div class="container">
    <p class="title">¿Cuándo y dónde?</p>
    <p class="description">Para conocer el gran fin de semana que nos espera, ¡despláza hacia abajo!
    </p>
    <img class="jorge-diana" width="80" height="80" src="assets/images/jorge-diana_sin_fecha.svg">
    <svg class="svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 600 1300">
      <path class="theLine" stroke-linecap="round"
      d="M -5 0 Q 450 230 272 429 T 84 756 Q 82 868 300 1000 T 150 1200"
      fill="none" stroke="#85ec9eb3" stroke-width="10px" />
      <text class="textDay" x="350" y="100">VIERNES</text>
      <text class="text01 text" x="365" y="200">19:00 Preboda</text>
      <text class="text01 subtext" x="405" y="230">en Logroño</text>
      <text class="textDay" x="50" y="400">SÁBADO</text>s
      <text class="text02 text" x="70" y="500">12:30 Recogida de autobuses</text>
      <text class="text02 subtext" x="110" y="530">en Fuente Murrieta, Logroño</text>
      <text class="text03 text" x="90" y="600">13:45 Ceremonia</text>
      <text class="text03 subtext" x="130" y="630">en Villa Lucía, Laguardia</text>
      <text class="text04 text" x="110" y="700">14:30 Cóctel y Banquete</text>
      <text class="text04 subtext" x="150" y="730">en Villa Lucía, Laguardia</text>
      <text class="text05 text" x="130" y="800">19:15 Baile nupcial y ¡Fiesta!</text>
      <text class="text05 subtext" x="170" y="830">en Villa Lucía, Laguardia</text>
      <text class="text06 text" x="150" y="900">23:15 Autobuses de regreso</text>
      <text class="text06 subtext" x="180" y="930">en Villa Lucía, Laguardia</text>
      <text class="textDay" x="330" y="1100">DOMINGO</text>
      <text class="text07 text" x="250" y="1200">00:00 Postboda</text>
      <text class="text07 subtext" x="290" y="1230">en Plaza del Mercado, Logroño</text>
    </svg>
    <p class="description">**Estos horarios aún no son 100% definitivos. No dudéis en escribirnos con cualquier duda.
  </div>
</div>
