@import "../../../styles";

.main-panel {
  height: 100%;
  width: 100%;
  background: $fondo_verde_70;

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: calc(100% - 56px);

    .image {
      padding-top: 20px;
      max-height: 60%;
    }

    .description {
      padding: 0 5%;
    }

    .invitation-button {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      color: #000000;
      font-size: 18px;
      border-radius: 0px;
      width: 200px;
      height: 40px;
      position: relative;
      transition: 0.3s;
      background-color: $fondo_claro;
    }

    .invitation-button::before,
    .invitation-button::after {
      content: "";
      display: block;
      position: absolute;
      border: 1px solid #000000;
      width: 100%;
      height: 100%;
      transition: .3s;
    }

    .invitation-button::before {
      top: -2px;
      left: -2px;
    }
    .invitation-button::after {
      top: 2px;
      left: 2px;
    }

    .invitation-button:hover::before, .invitation-button:hover::after {
      top: 0;
      left: 0;
    }
  }
}
